In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
import numpy as np

In [2]:
data = pd.read_csv('01_data.csv', index_col=0, parse_dates=True)
data.head()

,precip_in,q_cfs_BT_int,q_cfs_SC_int,cy,month,wy,D0,D1,D2,D3,D4,wildfire_percent
2008-10-01 00:00:00,0.0,10.8,1.43,2008,10,2009,100.0,100.0,0.0,0.0,0.0,0.0
2008-10-01 00:15:00,0.0,10.8,1.26,2008,10,2009,100.0,100.0,0.0,0.0,0.0,0.0
2008-10-01 00:30:00,0.0,10.8,1.26,2008,10,2009,100.0,100.0,0.0,0.0,0.0,0.0
2008-10-01 00:45:00,0.0,10.8,1.26,2008,10,2009,100.0,100.0,0.0,0.0,0.0,0.0
2008-10-01 01:00:00,0.0,10.8,1.26,2008,10,2009,100.0,100.0,0.0,0.0,0.0,0.0